.colorBackground {
  left: 50%;
  transform: translateX(-50%);
  background-image: url("https://github.com/Vortextech01/astro/blob/main/examples/portfolio/public/assets/BE6180FE-7FAF-4F55-A97C-D985D3A5B047.jpeg?raw=true");
  /* add any additional background properties as needed */
  max-height: 800px;
  height: 80vh;
  max-width: 1400px;
  width: 70vw;
  width: 100%;
  filter: blur(44px);
  z-index: -1;
}

.colorBackgroundBottom {
  left: 50%;
  transform: translateX(-50%) rotate(190deg);
  background-image: url("https://github.com/Vortextech01/astro/blob/main/examples/portfolio/public/assets/BE6180FE-7FAF-4F55-A97C-D985D3A5B047.jpeg?raw=true");
  /* add any additional background properties as needed */
  height: 600px;
  max-width: 900px;
  width: 55vw;
  width: 100%;
  filter: blur(44px);
  z-index: -1;
}
